<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="ui.js"></script>
{{!-- 
<hr>
<div style="margin-left: 30px; margin-bottom: 50px;">
    <div>
        <section>
            <h4>Resources</h4>
            <p>
                If you have any questions or just want to keep up with updates, there are multiple ways to engage with
                our team. Please find the options below to solve your issue.
            </p>
            <div>
                <a href="https://blog.quickblox.com/">Blog</a>
                <a href="https://help.quickblox.com/">Support</a>
                <a href="https://quickblox.com/contacts/">Contacts</a>
                <a href="https://docs.quickblox.com/docs/glossary">Glossary</a>
            </div>
        </section>
    </div>
</div> --}}