<h1>{{title}}</h1>
<div align="left">

    <p>
        <a href="https://discord.gg/Yc56F9KG"><img
                src="https://img.shields.io/discord/1042743094833065985?color=5865F2&logo=discord&logoColor=white&label=QuickBlox%20Discord%20server&style=for-the-badge"
                alt="Discord server" /></a>
    </p>

</div>

<div align="left">
    <img src="https://files.readme.io/e2da2c2-v_AIAssist_gif_demo.gif" width="300px" style="border: 1px solid blue">
    <img src="https://files.readme.io/6628d52-AITranslate_gif_demo.gif" width="300px" style="border: 1px solid blue">
    <img src="https://files.readme.io/01d9f96-Demo-AI-Rephrase_gif.gif" width="300px" height="336px" style="border: 1px solid blue">

</div>

<div>
    <p>Welcome to the QuickBlox AI Libs Guide!</p>
    <p>This guide is an example of using npm libraries designed to give your applications advanced artificial intelligence features. Below is an overview of the libraries included in this example:</p>

    <h3>QBAICore - qb-ai-core</h3>
    <p>
        QBAICore is an npm package that serves as a foundation, providing common types for artificial intelligence functions. It's designed for easy integration with various artificial intelligence features.
    </p>

    <h2>Artificial Intelligence Feature Libraries</h2>

    <h3>QBAIAnswerAssistant</h3>
    <p>
        The QBAIAnswerAssistant library is a powerful tool that includes logic for an artificial intelligence answer assistant. It allows your application to generate intelligent suggestions for answers using Chat GPT. If you want to improve interactions with users through smart responses, this library is for you.
    </p>
    <p>
        Repository Link:
        <a href="https://github.com/QuickBlox/react-ui-kit-ai-release/tree/main/qb-ai-answer-assitant">QBAIAssist
            Repository</a>
    </p>

    <h3>QBAIATranslate</h3>
    <p>
    The QBAIATranslate library provides a straightforward solution for translating messages into selected languages using Chat GPT. If support for multiple languages and dynamic translation is essential for your application, this library offers a simple implementation.
    </p>
    <p>
    Repository Link:
    <a href="https://github.com/QuickBlox/react-ui-kit-ai-release/tree/main/qb-ai-translate">QBAIATranslate
        Repository</a>
    </p>

    <h3>QBAIARephrase</h3>
    <p>
    The QBAIARephrase library is designed to add style to your text by providing logic to rephrase it in a selected tone or style. If you want to give your application a unique tone, this library provides the necessary tools.
    </p>
    <p>
    Repository Link:
    <a href="https://github.com/QuickBlox/react-ui-kit-ai-release/tree/main/qb-ai-rephrase">QBAIARephrase Repository</a>
    </p>
</div>